In [41]:
import pandas as pd
import ta #conda install -c conda-forge ta
import matplotlib.pyplot as plt
import numpy as np
df=pd.read_csv('AMZN_preprocess.csv')
df

,Date,High,Low,Close,Volume,Middle,HighNextDay,Result
0,2020-01-02,1898.010010,1864.150024,1898.010010,4029000,1881.080017,1886.199951,N
1,2020-01-03,1886.199951,1864.500000,1874.969971,3764400,1875.349976,1903.689941,Y
2,2020-01-06,1903.689941,1860.000000,1902.880005,4061800,1881.844971,1913.890015,Y
3,2020-01-07,1913.890015,1892.040039,1906.859985,4044900,1902.965027,1911.000000,N
4,2020-01-08,1911.000000,1886.439941,1891.969971,3508000,1898.719971,1917.819946,Y
...,...,...,...,...,...,...,...,...
533,2022-02-11,3180.000000,3054.679932,3065.870117,3851600,3117.339966,3168.969971,N
534,2022-02-14,3168.969971,3033.000000,3103.340088,4161500,3100.984986,3160.139893,N
535,2022-02-15,3160.139893,3092.750000,3130.209961,2848500,3126.444946,3176.679932,Y
536,2022-02-16,3176.679932,3094.689941,3162.010010,2635200,3135.684936,3206.979980,Y
537,2022-02-17,3206.979980,3090.000000,3093.050049,3201600,3148.489990,3109.989990,N

In [42]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
df.dtypes
df=df.set_index('Date')
df

,High,Low,Close,Volume,Middle,HighNextDay,Result
Date,,,,,,,
2020-01-02,1898.010010,1864.150024,1898.010010,4029000,1881.080017,1886.199951,N
2020-01-03,1886.199951,1864.500000,1874.969971,3764400,1875.349976,1903.689941,Y
2020-01-06,1903.689941,1860.000000,1902.880005,4061800,1881.844971,1913.890015,Y
2020-01-07,1913.890015,1892.040039,1906.859985,4044900,1902.965027,1911.000000,N
2020-01-08,1911.000000,1886.439941,1891.969971,3508000,1898.719971,1917.819946,Y
...,...,...,...,...,...,...,...
2022-02-11,3180.000000,3054.679932,3065.870117,3851600,3117.339966,3168.969971,N
2022-02-14,3168.969971,3033.000000,3103.340088,4161500,3100.984986,3160.139893,N
2022-02-15,3160.139893,3092.750000,3130.209961,2848500,3126.444946,3176.679932,Y
2022-02-16,3176.679932,3094.689941,3162.010010,2635200,3135.684936,3206.979980,Y
2022-02-17,3206.979980,3090.000000,3093.050049,3201600,3148.489990,3109.989990,N

In [43]:
#Create the Simple Moving Average (SMA)
def SMA(data,period=30,column='Middle'):
    return data[column].rolling(window=period).mean()

#Create the Exponential Moving Average (EMA)
def EMA(data,period=20,column='Middle'):
    return data[column].ewm(span=period,adjust=False).mean()

In [44]:
#df['SMA30']=SMA(df)
#df['SMA100']=SMA(df,100,'Middle')

In [45]:
#ADX,-DI,+DI
period=7
df['ADX']=ta.trend.ADXIndicator(df.High,df.Low,df.Close,window=period).adx()
df['+DI']=ta.trend.ADXIndicator(df.High,df.Low,df.Close,window=period).adx_pos()
df['-DI']=ta.trend.ADXIndicator(df.High,df.Low,df.Close,window=period).adx_neg()
df

C:\Users\YingZhou\anaconda3\envs\main_env\lib\site-packages\ta\trend.py:769: RuntimeWarning: invalid value encountered in double_scalars
  dip[idx] = 100 * (self._dip[idx] / value)
C:\Users\YingZhou\anaconda3\envs\main_env\lib\site-packages\ta\trend.py:774: RuntimeWarning: invalid value encountered in double_scalars
  din[idx] = 100 * (self._din[idx] / value)

,High,Low,Close,Volume,Middle,HighNextDay,Result,ADX,+DI,-DI
Date,,,,,,,,,,
2020-01-02,1898.010010,1864.150024,1898.010010,4029000,1881.080017,1886.199951,N,0.000000,0.000000,0.000000
2020-01-03,1886.199951,1864.500000,1874.969971,3764400,1875.349976,1903.689941,Y,0.000000,0.000000,0.000000
2020-01-06,1903.689941,1860.000000,1902.880005,4061800,1881.844971,1913.890015,Y,0.000000,0.000000,0.000000
2020-01-07,1913.890015,1892.040039,1906.859985,4044900,1902.965027,1911.000000,N,0.000000,0.000000,0.000000
2020-01-08,1911.000000,1886.439941,1891.969971,3508000,1898.719971,1917.819946,Y,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
2022-02-11,3180.000000,3054.679932,3065.870117,3851600,3117.339966,3168.969971,N,26.258014,28.838725,32.617134
2022-02-14,3168.969971,3033.000000,3103.340088,4161500,3100.984986,3160.139893,N,23.938727,24.733345,30.243697
2022-02-15,3160.139893,3092.750000,3130.209961,2848500,3126.444946,3176.679932,Y,21.950767,22.852274,27.943541
2022-02-16,3176.679932,3094.689941,3162.010010,2635200,3135.684936,3206.979980,Y,19.600645,22.591243,25.220869
2022-02-17,3206.979980,3090.000000,3093.050049,3201600,3148.489990,3109.989990,N,17.232116,23.053253,21.701247

-The ADX identifies a strong trend when the ADX is over 25 and a weak trend when the ADX is below 20.
- ADX>=25 Strong: 1
- 20<ADX<25: Neutral: 0
- ADX<20: Weak: -1

In [46]:
df['ADX_Level']=np.where(df['ADX']>=25, 1, np.where(df['ADX']<20, -1, 0))
df

,High,Low,Close,Volume,Middle,HighNextDay,Result,ADX,+DI,-DI,ADX_Level
Date,,,,,,,,,,,
2020-01-02,1898.010010,1864.150024,1898.010010,4029000,1881.080017,1886.199951,N,0.000000,0.000000,0.000000,-1
2020-01-03,1886.199951,1864.500000,1874.969971,3764400,1875.349976,1903.689941,Y,0.000000,0.000000,0.000000,-1
2020-01-06,1903.689941,1860.000000,1902.880005,4061800,1881.844971,1913.890015,Y,0.000000,0.000000,0.000000,-1
2020-01-07,1913.890015,1892.040039,1906.859985,4044900,1902.965027,1911.000000,N,0.000000,0.000000,0.000000,-1
2020-01-08,1911.000000,1886.439941,1891.969971,3508000,1898.719971,1917.819946,Y,0.000000,0.000000,0.000000,-1
...,...,...,...,...,...,...,...,...,...,...,...
2022-02-11,3180.000000,3054.679932,3065.870117,3851600,3117.339966,3168.969971,N,26.258014,28.838725,32.617134,1
2022-02-14,3168.969971,3033.000000,3103.340088,4161500,3100.984986,3160.139893,N,23.938727,24.733345,30.243697,0
2022-02-15,3160.139893,3092.750000,3130.209961,2848500,3126.444946,3176.679932,Y,21.950767,22.852274,27.943541,0
2022-02-16,3176.679932,3094.689941,3162.010010,2635200,3135.684936,3206.979980,Y,19.600645,22.591243,25.220869,-1
2022-02-17,3206.979980,3090.000000,3093.050049,3201600,3148.489990,3109.989990,N,17.232116,23.053253,21.701247,-1

In [47]:
-The ADX identifies a strong trend when the ADX is over 25 and a weak trend when the ADX is below 20.
- '+DI'>'-DI': Up trend  :  1
- '+DI'='-DI': Same      :  0
- '+DI'<'-DI': Down trend: -1

SyntaxError: invalid syntax (Temp/ipykernel_9820/3378845552.py, line 1)

In [48]:
df['ADX_Trend']=np.where(df['+DI']>df['-DI'], 1, np.where(df['+DI']<df['-DI'], -1, 0))
df

,High,Low,Close,Volume,Middle,HighNextDay,Result,ADX,+DI,-DI,ADX_Level,ADX_Trend
Date,,,,,,,,,,,,
2020-01-02,1898.010010,1864.150024,1898.010010,4029000,1881.080017,1886.199951,N,0.000000,0.000000,0.000000,-1,0
2020-01-03,1886.199951,1864.500000,1874.969971,3764400,1875.349976,1903.689941,Y,0.000000,0.000000,0.000000,-1,0
2020-01-06,1903.689941,1860.000000,1902.880005,4061800,1881.844971,1913.890015,Y,0.000000,0.000000,0.000000,-1,0
2020-01-07,1913.890015,1892.040039,1906.859985,4044900,1902.965027,1911.000000,N,0.000000,0.000000,0.000000,-1,0
2020-01-08,1911.000000,1886.439941,1891.969971,3508000,1898.719971,1917.819946,Y,0.000000,0.000000,0.000000,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-11,3180.000000,3054.679932,3065.870117,3851600,3117.339966,3168.969971,N,26.258014,28.838725,32.617134,1,-1
2022-02-14,3168.969971,3033.000000,3103.340088,4161500,3100.984986,3160.139893,N,23.938727,24.733345,30.243697,0,-1
2022-02-15,3160.139893,3092.750000,3130.209961,2848500,3126.444946,3176.679932,Y,21.950767,22.852274,27.943541,0,-1
2022-02-16,3176.679932,3094.689941,3162.010010,2635200,3135.684936,3206.979980,Y,19.600645,22.591243,25.220869,-1,-1
2022-02-17,3206.979980,3090.000000,3093.050049,3201600,3148.489990,3109.989990,N,17.232116,23.053253,21.701247,-1,1

-On-Balance Volume (OBV)
-Volume itself is a valuable indicator, and on-balance volume (OBV) takes a significant amount of volume information and compiles it into a single one-line indicator. The indicator measures cumulative buying and selling pressure by adding the volume on "up" days and subtracting volume on "down" days.
-Ideally, the volume should confirm trends. A rising price should be accompanied by a rising OBV; a falling price should be accompanied by a falling OBV. 
-However, OBV need to identify trend by eyes, so we don't use it;

-Instead, we use Chaikin Forex indicator
-when the CMF volume forex indicator crosses above zero, itâ€™s seen as a buy signal. Conversely, when the CMF volume indicator crosses below zero, itâ€™s seen as a sell signal.

In [49]:
df['CMF']=ta.volume.chaikin_money_flow(df.High,df.Low,df.Close,df.Volume,window=21)
df

,High,Low,Close,Volume,Middle,HighNextDay,Result,ADX,+DI,-DI,ADX_Level,ADX_Trend,CMF
Date,,,,,,,,,,,,,
2020-01-02,1898.010010,1864.150024,1898.010010,4029000,1881.080017,1886.199951,N,0.000000,0.000000,0.000000,-1,0,NaN
2020-01-03,1886.199951,1864.500000,1874.969971,3764400,1875.349976,1903.689941,Y,0.000000,0.000000,0.000000,-1,0,NaN
2020-01-06,1903.689941,1860.000000,1902.880005,4061800,1881.844971,1913.890015,Y,0.000000,0.000000,0.000000,-1,0,NaN
2020-01-07,1913.890015,1892.040039,1906.859985,4044900,1902.965027,1911.000000,N,0.000000,0.000000,0.000000,-1,0,NaN
2020-01-08,1911.000000,1886.439941,1891.969971,3508000,1898.719971,1917.819946,Y,0.000000,0.000000,0.000000,-1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-11,3180.000000,3054.679932,3065.870117,3851600,3117.339966,3168.969971,N,26.258014,28.838725,32.617134,1,-1,-0.170410
2022-02-14,3168.969971,3033.000000,3103.340088,4161500,3100.984986,3160.139893,N,23.938727,24.733345,30.243697,0,-1,-0.142534
2022-02-15,3160.139893,3092.750000,3130.209961,2848500,3126.444946,3176.679932,Y,21.950767,22.852274,27.943541,0,-1,-0.158721
2022-02-16,3176.679932,3094.689941,3162.010010,2635200,3135.684936,3206.979980,Y,19.600645,22.591243,25.220869,-1,-1,-0.150345
2022-02-17,3206.979980,3090.000000,3093.050049,3201600,3148.489990,3109.989990,N,17.232116,23.053253,21.701247,-1,1,-0.153979

In [50]:
df=df.drop(columns=['HighNextDay','ADX','+DI','-DI',],axis=1)
df

,High,Low,Close,Volume,Middle,Result,ADX_Level,ADX_Trend,CMF
Date,,,,,,,,,
2020-01-02,1898.010010,1864.150024,1898.010010,4029000,1881.080017,N,-1,0,NaN
2020-01-03,1886.199951,1864.500000,1874.969971,3764400,1875.349976,Y,-1,0,NaN
2020-01-06,1903.689941,1860.000000,1902.880005,4061800,1881.844971,Y,-1,0,NaN
2020-01-07,1913.890015,1892.040039,1906.859985,4044900,1902.965027,N,-1,0,NaN
2020-01-08,1911.000000,1886.439941,1891.969971,3508000,1898.719971,Y,-1,0,NaN
...,...,...,...,...,...,...,...,...,...
2022-02-11,3180.000000,3054.679932,3065.870117,3851600,3117.339966,N,1,-1,-0.170410
2022-02-14,3168.969971,3033.000000,3103.340088,4161500,3100.984986,N,0,-1,-0.142534
2022-02-15,3160.139893,3092.750000,3130.209961,2848500,3126.444946,Y,0,-1,-0.158721
2022-02-16,3176.679932,3094.689941,3162.010010,2635200,3135.684936,Y,-1,-1,-0.150345
2022-02-17,3206.979980,3090.000000,3093.050049,3201600,3148.489990,N,-1,1,-0.153979

In [51]:
df.High.max()

3773.080078

In [52]:
df['Low/High']   =df['Low']/df['High']
df['Close/High'] =df['Close']/df['High']
df['Middle/High']=df['Middle']/df['High']
high_max=df.High.max()
df['High']=df['High']/high_max
df

,High,Low,Close,Volume,Middle,Result,ADX_Level,ADX_Trend,CMF,Low/High,Close/High,Middle/High
Date,,,,,,,,,,,,
2020-01-02,0.503040,1864.150024,1898.010010,4029000,1881.080017,N,-1,0,NaN,0.982160,1.000000,0.991080
2020-01-03,0.499910,1864.500000,1874.969971,3764400,1875.349976,Y,-1,0,NaN,0.988495,0.994046,0.994248
2020-01-06,0.504545,1860.000000,1902.880005,4061800,1881.844971,Y,-1,0,NaN,0.977050,0.999575,0.988525
2020-01-07,0.507249,1892.040039,1906.859985,4044900,1902.965027,N,-1,0,NaN,0.988583,0.996327,0.994292
2020-01-08,0.506483,1886.439941,1891.969971,3508000,1898.719971,Y,-1,0,NaN,0.987148,0.990042,0.993574
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-11,0.842813,3054.679932,3065.870117,3851600,3117.339966,N,1,-1,-0.170410,0.960591,0.964110,0.980296
2022-02-14,0.839889,3033.000000,3103.340088,4161500,3100.984986,N,0,-1,-0.142534,0.957093,0.979290,0.978547
2022-02-15,0.837549,3092.750000,3130.209961,2848500,3126.444946,Y,0,-1,-0.158721,0.978675,0.990529,0.989338
2022-02-16,0.841933,3094.689941,3162.010010,2635200,3135.684936,Y,-1,-1,-0.150345,0.974190,0.995382,0.987095
2022-02-17,0.849963,3090.000000,3093.050049,3201600,3148.489990,N,-1,1,-0.153979,0.963523,0.964474,0.981762

In [53]:
df=df.dropna()
df

,High,Low,Close,Volume,Middle,Result,ADX_Level,ADX_Trend,CMF,Low/High,Close/High,Middle/High
Date,,,,,,,,,,,,
2020-01-31,0.544839,2002.270020,2008.719971,15567300,2028.994995,N,1,1,-0.056945,0.973999,0.977137,0.987000
2020-02-03,0.542925,2000.250000,2004.199951,5891700,2024.375000,Y,1,1,-0.159185,0.976446,0.978374,0.988223
2020-02-04,0.545920,2015.369995,2049.669922,5289300,2037.585022,Y,1,1,-0.122267,0.978430,0.995082,0.989215
2020-02-05,0.548894,2032.000000,2039.869995,4376200,2051.510010,N,1,1,-0.195611,0.981159,0.984959,0.990580
2020-02-06,0.544992,2024.800049,2050.229980,3183000,2040.550049,Y,1,1,-0.191664,0.984681,0.997048,0.992341
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-11,0.842813,3054.679932,3065.870117,3851600,3117.339966,N,1,-1,-0.170410,0.960591,0.964110,0.980296
2022-02-14,0.839889,3033.000000,3103.340088,4161500,3100.984986,N,0,-1,-0.142534,0.957093,0.979290,0.978547
2022-02-15,0.837549,3092.750000,3130.209961,2848500,3126.444946,Y,0,-1,-0.158721,0.978675,0.990529,0.989338
2022-02-16,0.841933,3094.689941,3162.010010,2635200,3135.684936,Y,-1,-1,-0.150345,0.974190,0.995382,0.987095
2022-02-17,0.849963,3090.000000,3093.050049,3201600,3148.489990,N,-1,1,-0.153979,0.963523,0.964474,0.981762

In [55]:
df.to_csv('AMZN_after_process.csv')